web3==6.15.1
eth-account==0.11.0
requests==2.31.0
asyncio-throttle==1.0.2
colorama==0.4.6
python-telegram-bot==20.7
aiohttp==3.9.1
eth-utils==2.3.1
eth-typing==3.5.2
hexbytes==0.3.1
websockets==12.0
python-dotenv==1.0.0
aiohttp
asyncio-throttle
colorama
eth-account
eth-typing
eth-utils
hexbytes
python-dotenv
python-telegram-bot
requests
web3
websockets